<mat-card>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <mat-card-content class="card-content">
      <mat-form-field appearance="standard">
        <mat-label>Username</mat-label>
        <input [(ngModel)]="username" name="username" matInput placeholder="Username"
               autocomplete="username" required>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input type="password" [(ngModel)]="password" name="password" matInput placeholder="*****"
               autocomplete="current-password" required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [disabled]="!loginForm.form.valid">Sign in</button>
    </mat-card-actions>
    <div *ngIf="error" class="login-error">
      Wrong username or password
    </div>
  </form>
  <span class="register-text">If you don't have an account yet, <a href="/signup">sign up</a>.</span>
</mat-card>
