<header class="header">
  <mat-toolbar color="primary">
    <h1>{{ title }}</h1>
    <nav>
      <a mat-button routerLink="/books" i18n>Books</a>
      <a mat-button routerLink="/profile" *ngIf="authenticated" i18n>Profile</a>
      <a mat-button routerLink="/login" *ngIf="!authenticated" i18n>Log in</a>
      <a mat-button (click)="onLogout()" *ngIf="authenticated" i18n>Log out</a>
    </nav>
  </mat-toolbar>
</header>
<main class="container">
  <router-outlet></router-outlet>
</main>
<footer class="footer">© Books 2020</footer>

