<div class="card-container">
  <mat-card>
    <form (ngSubmit)="signUp()" #signupForm="ngForm" appPasswordsDiffer>
      <mat-card-content class="card-content">
        <mat-form-field appearance="standard">
          <mat-label>Username</mat-label>
          <input [(ngModel)]="username" name="username" matInput placeholder="Username"
                 autocomplete="username" required>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Email</mat-label>
          <input #emailInput [(ngModel)]="email" name="email" type="email" matInput placeholder="Email"
                 autocomplete="email" required>
          <mat-error *ngIf="!emailInput.validity.valid">Invalid email</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Password</mat-label>
          <input [(ngModel)]="password" name="password" type="password" matInput placeholder="*****"
                 minlength="8" autocomplete="new-password" required>
          <mat-hint>Password must be at least 8 characters long</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Re-enter password</mat-label>
          <input [(ngModel)]="password2" name="password2" type="password" matInput placeholder="*****"
                 minlength="8" autocomplete="new-password" [errorStateMatcher]="errorMatcher" required>
          <mat-error *ngIf="signupForm.errors?.passwordsDiffer">Passwords do not match</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" [disabled]="!signupForm.form.valid">Sign up</button>
      </mat-card-actions>
      <div *ngIf="error" class="signup-error">
        Error
      </div>
    </form>
  </mat-card>
</div>
