<div *ngIf="user">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{user.username}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="user-info">
        <div>Email:</div>
        <div>{{user.email}}</div>
        <div>Birthday:</div>
        <div>{{user.birthday}}</div>
        <div>About:</div>
        <div>{{user.description}}</div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="edit()">Edit</button>
    </mat-card-actions>
  </mat-card>
</div>
