<div class="buttons">
  <button *ngIf="authenticated" mat-raised-button color="primary" class="add-book-button"
          type="button" (click)="create()" i18n>Add new book
  </button>
</div>
<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
    *ngFor="let book of lastResult?.content"
    [colspan]="1"
    [rowspan]="1"
    [style.background]="'lightgreen'">
    <mat-card (click)="view(book.id)" class="book">
      <mat-card-header>
        <mat-card-title>{{book.title}}</mat-card-title>
        <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
